<div class="row">
  <ul class="list-unstyled contact">
    <div class="col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-3">
      <li>
        <% link_to 'mailto:eric.tillberg@gmail.com' do %>
          <img src="/images/logo_gmail_32px.png" class="logo" />
        <% end %>
      </li>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
      <li>
        <% link_to 'https://www.linkedin.com/in/erictillberg' do %>
          <img src="/images/In-2C-28px-R.png" class="logo" />
        <% end %>
      </li>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
      <li>
        <% link_to 'http://www.twitter.com/Thrillberg' do %>
          <img src="/images/Twitter_logo_blue.png" class="logo" />
        <% end %>
      </li>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
      <li>
        <% link_to 'http://www.github.com/Thrillberg' do %>
          <img src="/images/GitHub-Mark-32px.png" class="logo" />
        <% end %>
      </li>
    </div>
  </ul>
</div>
