<div class="well row">
  <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2">
    <h4><%= link_to 'Home', '/index.html', class: 'link' %></h4>
  </div>
  <div class="col-lg-3 col-md-3">
    <h4><%= link_to 'Web Development', '/web_development.html', class: 'link' %></h4>
  </div>
  <div class="col-lg-4 col-md-4">
    <h4><%= link_to 'Tutoring', '/tutoring.html', class: 'link' %></h4>
  </div>
</div>

<div class="row">
  <h1>Eric Tillberg</h1>
</div>

<div class="row">
  <div class="stripe"></div>
</div>
