<div class="well row">
  <div class="col-lg-6">
    <%= link_to 'Web Development', '/web_development.html' %>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Tutoring', '/tutoring.html' %>
  </div>
</div>
