<br />
<div class="row">
  <div class="well">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <div id="wrapper">
          <% link_to 'https://github.com/Thrillberg/saint-tracker' do %>
            <img class="project" src="/images/saint_tracker.png" />
            <span class="text black">Saint Tracker</span>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <div id="wrapper">
          <% link_to 'https://github.com/Thrillberg/mood-and-sentiment-analyzer' do %>
            <img class="project" src="/images/sentiment.png" />
            <span class="text white">Sentiment Analyzer</span>
          <% end %>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <small class="text-justify"><strong>Saint Tracker</strong> is an online tool that allows you to visualize the locations of various works of art, their artists, and saints featured in them. Users can input their own images and information to add to the ever-expanding database of saint images.
        <br />
        Ruby on Rails.</small>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <small class="text-justify"><strong>Sentiment Analyzer</strong> is an app that analyzes mood (via photos) and sentiment (via text) of political candidates based on tweets by major news outlets about the candidates. The example currently in the code compares perceptions of Hillary Clinton to those of Donald Trump through five news outlets (CBS, CNN, Breitbart, Huffington Post, and Politico).
        <br />
        Pure Ruby command line.</small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h3 id="story">My Story:</h3>
  <p>I started programming in early 2015, jumping right into Ruby on Rails development. I enrolled in Tealeaf Academy (now <%= link_to 'Launch School', 'http://www.launchschool.com', class: 'link' %>) and took their whole curriculum in a mostly self-study mode. While working through their curriculum, I completed Saint Tracker and as a capstone project, I created a Sentiment Analyzer. After finishing their program, I began work for Econify, a small consultancy in New York City, and completed a handful of projects (mostly Rails) with them. I worked with Econify until June 2016.</p>
</div>

<div class="row">
  <div class="well">
    <div class="container">
      <div class="col-lg-2">
        <img class="tech-logo" src="/images/ruby.png" />
      </div>
      <div class="col-lg-4">
        <img class="tech-logo" src="/images/rails.png" />
      </div>
      <div class="col-lg-2">
        <img class="tech-logo" src="/images/HTML5.png" />
      </div>
      <div class="col-lg-2">
        <img class="tech-logo" src="/images/css3.svg" />
      </div>
      <div class="col-lg-2">
        <img class="tech-logo" src="/images/JavaScript-logo.png" />
      </div>
    </div>
  </div>
</div>
